<!DOCTYPE html>
<html class="no-js" lang="en">
<head th:replace="~{fragments::head_sec}"></head>

<body>


<!-- Quick view -->
<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-2.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-1.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-3.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-4.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-5.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-6.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/shop/imgs/shop/product-16-7.jpg" alt="product image">
                                </figure>
                            </div>
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                <div><img src="/shop/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                <div><img src="/shop/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                            </div>
                        </div>
                        <!-- End Gallery -->
                        <div class="social-icons single-share">
                            <ul class="text-grey-5 d-inline-block">
                                <li><strong class="mr-10">Share this:</strong></li>
                                <li class="social-facebook"><a href="#"><img src="/shop/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                <li class="social-twitter"> <a href="#"><img src="/shop/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                <li class="social-instagram"><a href="#"><img src="/shop/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                <li class="social-linkedin"><a href="#"><img src="/shop/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>

                        <!-- Detail Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<header class="header-area header-style-1 header-height-2" th:replace="~{fragments::header-sec}">
</header>


<div th:replace="~{fragments::side-header}"></div>

<main class="main">
   <section th:replace="~{index::hero-slide}"></section>
    <section th:replace="~{index::features}"></section>
    <section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
            <div class="tab-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                    </li>
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>-->
<!--                    </li>-->
                </ul>
                <a th:href="@{/product-shop/0}" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &lt; 8}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1" th:href="@{/wishlist/wishList}">
<!--                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>-->
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" th:href="@{/wishlist/addToWishList(productId=${product.id})}"><i class="fi-rs-heart"></i></a>
<!--                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>-->
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End product-grid-4-->
                    <div class="text-center mt-3 mb-3 viewMoreBtnContainer">
                        <button class="btn btn-primary viewMoreBtn">View More</button>
                    </div>
                    <div class="row product-grid-4 additionalProducts" style="display: none;">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &gt;= 8 and iterStat.index &lt; 16}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3 showLessBtnContainer" style="display: none;">
                        <button class="btn btn-primary">Show Less</button>
                    </div>
                </div>
                <!--En tab one (Featured)-->
                <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                    <div class="row product-grid-4">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &gt;= 8 and iterStat.index &lt; 16}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End product-grid-4-->
                    <div class="text-center mt-3 mb-3 viewMoreBtnContainer">
                        <button class="btn btn-primary viewMoreBtn">View More</button>
                    </div>
                    <div class="row product-grid-4 additionalProducts" style="display: none;">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &gt;= 16 and iterStat.index &lt; 24}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3 showLessBtnContainer" style="display: none;">
                        <button class="btn btn-primary">Show Less</button>
                    </div>
                </div>
                <!--En tab two (Popular)-->
                <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                    <div class="row product-grid-4">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &gt;= 16 and iterStat.index &lt; 24}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End product-grid-4-->
                    <div class="text-center mt-3 mb-3" id="viewMoreBtnContainer">
                        <button id="viewMoreBtn" class="btn btn-primary">View More</button>
                    </div>
                    <div class="row product-grid-4" id="additionalProducts" style="display: none;">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6" th:each="product, iterStat : ${products}" th:if="${iterStat.index &gt;= 24 and iterStat.index &lt; 32}">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap" th:each="category :${caregories}" th:if="${category.name == product.category.name}">
                                    <div class="product-category" >
                                        <a href="shop-grid-right.html" th:text="${category.name}"></a>
                                    </div>
                                    <h2><a href="shop-product-right.html" th:text="${product.name}"></a></h2>
                                    <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                    </div>
                                    <div class="product-price">
                                        <span th:unless="${product.salePrice > 0}">$[(${product.costPrice})]</span>
                                        <span th:if="${product.salePrice > 0}">$[(${product.salePrice})]</span>
                                        <span th:if="${product.salePrice > 0}" class="old-price">$[(${product.costPrice})]</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3" id="showLessBtnContainer" style="display: none;">
                        <button class="btn btn-primary">Show Less</button>
                    </div>
                </div>
                <!--En tab three (New added)-->
            </div>
            <!--End tab-content-->
        </div>
    </section>
    <section class="banner-2 section-padding pb-0" th:replace="~{index::banner}"></section>
    <section class="popular-categories section-padding mt-15 mb-25">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">
                    <div class="card-1" th:each="category :${caregories}">
<!--                        <figure class=" img-hover-scale overflow-hidden">-->
<!--                            <a href="shop-grid-right.html"><img src="/shop/imgs/shop/category-thumb-1.jpg" alt=""></a>-->
<!--                        </figure>-->
                        <h5><a href="shop-grid-right.html" th:text="${category.name}"></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banners mb-15" th:replace="~{index::banner-set}"></section>
    <section class="bg-grey-9 section-padding" th:replace="~{index::best-sell}"></section>
</main>

<footer th:replace="~{fragments::footer-sec}"></footer>

<div th:replace="~{fragments::pre-loader}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $('.viewMoreBtn').click(function(){
            $('.additionalProducts').toggle();
            $('.showLessBtnContainer').toggle();
            $('.viewMoreBtnContainer').toggle();
            $(this).text(function(i, text){
                return text === "View More" ? "Show Less" : "View More";
            });
        });

        $('.showLessBtnContainer').click(function(){
            $('.additionalProducts').toggle();
            $('.showLessBtnContainer').toggle();
            $('.viewMoreBtnContainer').toggle();
            $('html, body').animate({
                scrollTop: $("#myTab").offset().top
            },0);
            $('.viewMoreBtn').text("View More");
        });
    });
</script>


<div th:replace="~{fragments::scripts}"></div>

</body>

</html>
