<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head_sec}"></head>

<body>
<header class="header-area header-style-1 header-height-2" th:replace="~{fragments::header-sec}">
</header>
<div th:replace="~{fragments::side-header}"></div>


<main class="main">
<!--    <div class="page-header breadcrumb-wrap">-->
<!--        <div class="container">-->
<!--            <div class="breadcrumb">-->
<!--                <a th:href="@{/}" rel="nofollow">Home</a>-->
<!--                <span></span> Shop-->
<!--                <span></span> Wishlist-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <section class="mt-50 mb-50">
        <div class="container">
            <div th:if = "${success}" class = "text-center alert alert-success">
                <p th:text = "${success}"></p>
            </div>
            <div th:if="${check}" style="display: flex; flex-direction: column; align-items: center;">
                <p class="text-center"  th:text="${check}"></p>
                <a  th:href="@{/shop}"><button class="btn btn-primary">Continue Shopping</button></a>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center" th:unless="${check}">
                            <thead>
                            <tr class="main-heading">
                                <th scope="col" colspan="2">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Status</th>
                                <th scope="col">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="wishlist : ${wishlists}">
                                <td class="image product-thumbnail">
                                    <img th:src="@{|/imgs/items/${wishlist.product.image[0].getName()}|}" alt="ProductImage">
                                </td>
                                <td class="product-des product-name">
                                    <h5 class="product-name"><a th:href="@{/product-full/{id}(id = ${wishlist.product.id})}" th:text="${wishlist.product.name}"></a></h5>

                                </td>
                                <td class="price" data-title="Price" >
                                    <span th:unless="${wishlist.product.salePrice > 0}">₹[(${wishlist.product.costPrice})] / </span>
                                    <span th:if="${wishlist.product.salePrice > 0}">₹[(${wishlist.product.salePrice})]</span>
<!--                                    <span th:if="${wishlist.product.salePrice > 0}" class="old-price">₹[(${wishlist.product.costPrice})]</span>-->
                                </td>
                                <td class="text-center" data-title="Stock">
                                    <span class="color3 font-weight-bold" th:text="${wishlist.product.currentQuantity>0 ? 'In Stock' : 'Out of stock'}"></span>
                                </td>
                                <td class="action"  data-title="Remove">
                                    <a th:href="@{/wishlist/removeFromWishList/{id}(id=${wishlist.id})}"><i class="fi-rs-trash"></i></a>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" th:href="@{/addToCart(productId=${wishlist.product.id})}"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>







<footer th:replace="~{fragments::footer-sec}"></footer>

<div th:replace="~{fragments::pre-loader}"></div>
<!-- Vendor JS-->
<div th:replace="~{fragments::scripts}"></div>
</body>
</html>